SPRING_PROFILES_ACTIVE=

AUTH_SERVICE_POSTGRES_USER=
AUTH_SERVICE_POSTGRES_PASSWORD=
AUTH_SERVICE_POSTGRES_DB=

TASK_SERVICE_POSTGRES_USER=
TASK_SERVICE_POSTGRES_PASSWORD=
TASK_SERVICE_POSTGRES_DB=

KEYCLOAK_AUTH_SERVER_URL=
KEYCLOAK_REALM=
KEYCLOAK_ADMIN_CLIENT_ID=
KEYCLOAK_ADMIN_CLIENT_SECRET=
KEYCLOAK_FRONTEND_CLIENT_ID=
KEYCLOAK_FRONTEND_CLIENT_SECRET=